@import '../node_modules/@angular2-material/core/theming/theming';
@import '../node_modules/@angular2-material/core/theming/palette';
@import '../node_modules/@angular2-material/core/core';
@import '../node_modules/@angular2-material/button/button-theme';
@import '../node_modules/@angular2-material/card/card-theme';
@import '../node_modules/@angular2-material/checkbox/checkbox-theme';
@import '../node_modules/@angular2-material/radio/radio-theme';
@import '../node_modules/@angular2-material/input/input-theme';
@import '../node_modules/@angular2-material/sidenav/sidenav-theme';
@import '../node_modules/@angular2-material/toolbar/toolbar-theme';
@import '../node_modules/@angular2-material/list/list-theme';
@import '../node_modules/@angular2-material/grid-list/grid-list-theme';
@import '../node_modules/@angular2-material/icon/icon-theme';
@import '../node_modules/@angular2-material/progress-circle/progress-circle-theme';
@import '../node_modules/@angular2-material/progress-bar/progress-bar-theme';
@import '../node_modules/@angular2-material/tabs/tabs-theme';
@import '../node_modules/@angular2-material/slide-toggle/slide-toggle-theme';
@import '../node_modules/@angular2-material/button-toggle/button-toggle-theme';
@import '../node_modules/@angular2-material/slider/slider-theme';
@import '../node_modules/@angular2-material/menu/menu-theme';
@import '../node_modules/@angular2-material/tooltip/tooltip-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: md-palette($md-grey, 800, 600, 200); 
$accent:  md-palette($md-blue, 500, 700, 300);
$warn:    md-palette($md-red, 500, 300, 900); 

// Create the theme object (a Sass map containing all of the palettes).
$theme: md-dark-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
@include md-core-theme($theme);
@include md-button-theme($theme);
@include md-card-theme($theme);
@include md-checkbox-theme($theme);
@include md-radio-theme($theme);
@include md-input-theme($theme);
@include md-sidenav-theme($theme);
@include md-toolbar-theme($theme);
@include md-list-theme($theme);
@include md-grid-list-theme($theme);
@include md-icon-theme($theme);
@include md-progress-circle-theme($theme);
@include md-progress-bar-theme($theme);
@include md-tabs-theme($theme);
@include md-slide-toggle-theme($theme);
@include md-button-toggle-theme($theme);
@include md-slider-theme($theme);
@include md-menu-theme($theme);
@include md-tooltip-theme($theme);

/* -------------------------------------------
   Global
   ------------------------------------------- */

@import 'common/scroll.panel';

* {
  user-select: none;
  cursor: default;
}

.width-100 {
  width: 100%;
}

.width-fill {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.height-fill {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.fill {
  @extend .width-fill;
  @extend .height-fill;
}

@mixin fill-margin($margin) {
  @extend .width-fill;
  @extend .height-fill;
  top: $margin;
  bottom: $margin;
  left: $margin;
  right: $margin;
}

.fill-5 {
  @include fill-margin(5px);
}

.fill-10 {
  @include fill-margin(10px);
}

.fill-header {
  @extend .fill;
  top: 64px;
}

.description {
  font-style: italic;
  opacity: 0.5;
  padding-right: 5px !important;
}

/* -------------------------------------------
   Element
   ------------------------------------------- */

input, textarea {
  color: rgb(250, 250, 250);
}

button {
  cursor: pointer;

  > * {
    vertical-align: middle;
  }

  * {
    cursor: pointer;
  }
}

.resizer {
  position: absolute;
  background-color: #333;
  border-radius: 2px;

  &.resizer-vertical {
    cursor: e-resize;
    top: 4px;
    bottom: 4px;
    width: 4px;
  }

  &.resizer-horizontal {
    cursor: n-resize;
    left: 4px;
    right: 4px;
    height: 4px;
  }
}

md-sidenav {
  max-width: 90%;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

md-toolbar.header {
  & md-toolbar-row > * {
    margin-right: 10px;
  }
}

md-card {
  width: 200px;
  box-sizing: border-box;
  margin: 10px;
  display: flex !important;
  flex-direction: column;

  > md-icon {
    flex-grow: 0;
    text-align: center;
    font-size: 100px !important;
    height: 100px;
  }

  md-card-title {
    flex-grow: 0;

    .sub-title {
      font-size: 15px;
      opacity: 0.5;
    }
  }

  md-card-content {
    display: flex;
    flex-grow: 1;

    .details {
      align-self: flex-end;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-end;
      opacity: 0.5;

      > div {
        font-size: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        min-width: calc(50% - 10px);

        md-icon {
          margin-right: 5px;
        }
      }
    }
  }

  md-card-actions {
    flex-grow: 0;
    align-self: flex-end;
  }
}

.value {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-width: calc(50% - 10px);

  > *:not(:last-child) {
    margin-right: 5px;
  }

  span {
    font-size: 18px;
    padding-top: 3px;
  }
}

.hand {
  cursor: pointer;

  * {
    cursor: pointer;
  }
}

/* -------------------------------------------
   Hierarchy
   ------------------------------------------- */

html {
  @extend .fill;
  color: white;

  body {
    @extend .fill;
    background: rgb(30,30,30);

    .loading {
      position: absolute;
      left: calc(50% - 64px);
      top: calc(50% - 64px);
      width: 200px;

      > *:first-child {
        padding-bottom: 10px;
      }

      .loading-image {
        position: absolute;
        font-size: 64px;
        animation: loading 2s linear infinite;
        padding-left: 5px;
        padding-right: 5px;
      }

      @keyframes loading {
        0% {
          left: 0;
          opacity: 0;
        }

        30% {
          opacity: 1;
        }

        70% {
          opacity: 1;
        }

        100% {
          left: 136px;
          opacity: 0;
        }
      }

      .loading-text {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
        font-style: italic;
      }
    }

    building {
      .menu-circle {
        position: relative;

        > md-progress-circle {
          width: 50px;
          height: 50px;
        }

        > div {
          @extend .fill;
          text-align: center;
          vertical-align: middle;
          line-height: 50px;
          font-weight: bold;
        }
      }
    }
  }
}

.floors {
  @extend .height-fill;
  margin-left: 10px;
  margin-top: 10px;
  width: 275px;
  display: inline-block;
  overflow-y: auto;

  .viewbox {
    position: relative;
    width: 500px;
    transform: scale(.5,.5);
    transform-origin: 0px 0px 0px;

    .floor {
      width: 500px;
      height: 500px;
      transform: matrix3d(0.59761, 0, 0, 0, -0.200797, 0.261355, 0, -0.000796813, 0, 0, 1, 0, 102, 2, 0, 1);
      transform-origin: 0px 0px 0px;
    }
  }
}

es-floor-detail {
  @extend .fill-10;
  left: 295px;
  overflow: auto;

  .floor {
    left: 48px;

    > div {
      position: relative;
    }
  }

  .details {
  }

  .tools {
    position: absolute;
    top: 0;
    width: 48px;
    left: 0;
    font-size: 48px;

    button {
      display: block;
    }
  }
}

.rotating-dashed {
  position: absolute;
  width: 200px;
  height: 100px;
}

.dialog {
  @extend .fill;
  background: rgba(189,189,189,0.6);

  > md-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    max-width: 95%;
    max-height: 95%;
    margin: 0;

    md-card-title > * {
      vertical-align: middle;
    }
  }

  &.full {
    > md-card {
      width: 95%;
      height: 95%;

      md-card-content {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;

        > * {
          @extend .fill;
        }
      }
    }
  }
}
