<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item *ngFor="let action of actions" (click)="sidenav.close(); action.action() && sidenav2.open();">
        <md-icon md-list-icon>{{action.icon}}</md-icon>
        <span md-line>{{action.title}}</span>
        <span md-line class="description">{{action.description}}</span>
        <!--<div class="menu-circle">
          <md-progress-circle mode="determinate" value="{{action.badge}}"></md-progress-circle>
          <div>
            <md-icon *ngIf="action.badgeType == 'money'">directions_car</md-icon>
            <md-icon *ngIf="action.badgeType == 'person'">person</md-icon>
            <span>{{action.badge}}</span>
          </div>
        </div>-->
      </a>
    </md-nav-list>
  </md-sidenav>
  <md-sidenav-layout fullscreen>
    <md-sidenav #sidenav2 (close)="currentActionTemplate = null" style="width: 90vw">
      <es-scroll-panel>
        <div [ngSwitch]="currentActionTemplate">
          <es-hr *ngSwitchCase="'es-hr'"></es-hr>
          <es-room-template-list *ngSwitchCase="'es-room-template-list'" (selectRoom)="onBuildRoom($event); sidenav2.close();"></es-room-template-list>
        </div>
      </es-scroll-panel>
    </md-sidenav>
    <md-toolbar color="primary" class="header">
      <button color="primary" md-fab (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button>
      <span>
        {{name}}
      </span>
      <md-icon>directions_car</md-icon>
      {{stats?.account | round: 2}}
      <md-icon style="margin-left: 20px">people</md-icon>
      {{stats?.persons}}
      <md-icon style="margin-left: 20px">access_time</md-icon>
      {{date?.getFullYear()}}.{{date?.getMonth() < 9 ? '0' : ''}}{{date?.getMonth()+1}}.{{date?.getDate() < 10 ? '0' : ''}}{{date?.getDate()}} {{date?.getHours() < 10 ? '0' : ''}}{{date?.getHours()}}:{{date?.getMinutes() < 10 ? '0' : ''}}{{date?.getMinutes()}}
      <md-icon style="margin-left: 20px" (click)="buildingService.speedMinus()">fast_rewind</md-icon>
      (x{{stats?.speed}}) 
      <md-icon style="margin-left: 10px" (click)="buildingService.speedPlus()">fast_forward</md-icon>
      <!-- TODO: status items -->
    </md-toolbar>
    <div class="fill-header">
      <div class="floors">
        <es-scroll-panel>
          <div class="viewbox" [style.height]="(floors.length * 125) + 'px'">
            <div *ngFor="let floor of floors; let i = index" class="floor" style="position: absolute" [style.top]="(250 * i) + 'px'"
              [style.z-index]="floors.length - i" (click)="selectedFloor = floor">
              <es-floor-thumb [floor]="floor"></es-floor-thumb>
            </div>
          </div>
        </es-scroll-panel>
      </div>
      <es-floor-detail #floorDetail [floor]="selectedFloor"></es-floor-detail>
    </div>
  </md-sidenav-layout>
</md-sidenav-layout>
<es-dialog></es-dialog>