<div #b class="fill" (window:resize)="onResize()">
  <div [style.width.px]="size" [style.height.px]="size">
    <div class="fill"
         style="border: 2px solid;"
         [style.border-color]="buildingConfig.floorColors[floor?.level]"
         [style.left.px]="cellSize * floor.left"
         [style.top.px]="cellSize * floor.top"
         [style.width.px]="cellSize * floor.width"
         [style.height.px]="cellSize * floor.height">
      <esc-canvas class="fill">
        <es-background [width]="cellSize * floor.width"
                       [height]="cellSize * floor.height"
                       [isHitTestVisible]="false"
                       [foreground]="buildingConfig.floorColors[floor?.level]"></es-background>
        <es-room-detail *ngFor="let room of floor?.rooms"
                        [room]="room"
                        [left]="(cellSize * room.left) | round: 0"
                        [top]="(cellSize * room.top) | round: 0"
                        [width]="(cellSize * ((room.rotation % 2) == 0 ? room.width : room.height)) | round: 0"
                        [height]="(cellSize * ((room.rotation % 2) == 0 ? room.height : room.width)) | round: 0"></es-room-detail>
        <es-floor-canvas #floorCanvas [width]="cellSize * floor.width" [height]="cellSize * floor.height">
        </es-floor-canvas>
      </esc-canvas>
    </div>
  </div>
</div>
