<div class="card-container">
  <md-card *ngFor="let person of availablePersons">
    <md-icon md-card-image>sentiment_satisfied</md-icon>
    <md-card-title>{{person.name}}</md-card-title>
    <md-card-content>
      <div class="details">
        <div title="Efficiency">
          <md-icon>code</md-icon><span>{{person.efficiency | round: 0}}</span></div>
        <div title="Investigation">
          <md-icon>bug_report</md-icon><span>{{person.investigation | round: 0}}</span></div>
        <div title="Administration">
          <md-icon>book</md-icon><span>{{person.administration | round: 0}}</span></div>
        <div title="Creativity">
          <md-icon>lightbulb_outline</md-icon><span>{{person.creativity | round: 0}}</span></div>
      </div>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button (click)="hire(person)">
        <div class="value" title="Pay"><span>Hire</span><md-icon>directions_car</md-icon><span>{{person.pay | round}}</span></div>
      </button>
    </md-card-actions>
  </md-card>
</div>