<div #b class="floor fill" (window:resize)="onResize()">
  <div [style.width.px]="size" [style.height.px]="size">
    <div class="fill" style="border: 3px solid white;">
      <esc-canvas class="fill">
        <es-background [width]="size - 6" [height]="size - 6"></es-background>
        <!--<es-room-detail *ngFor="let room of floor?.rooms" [room]="room" [left]="((size - 6) / 16 * room.left) | round: 0" [top]="((size - 6) / 16 * room.top) | round: 0" [width]="((size - 6) / 16 * ((room.rotation % 2) == 0 ? room.width : room.height)) | round: 0" [height]="((size - 6) / 16 * ((room.rotation % 2) == 0 ? room.height : room.width)) | round: 0"></es-room-detail>-->
        <es-floor-canvas #floorCanvas [width]="size - 6" [height]="size - 6">
        </es-floor-canvas>
       </esc-canvas>
    </div>
  </div>
</div>
<div class="tools">
  <button md-icon-button *ngIf="currentAction == 'build'" (click)="cancel()"><md-icon>cancel</md-icon></button>
  <button md-icon-button *ngIf="currentAction == 'build'" (click)="rotateLeft()"><md-icon>rotate_left</md-icon></button>
  <button md-icon-button *ngIf="currentAction == 'build'" (click)="rotateRight()"><md-icon>rotate_right</md-icon></button>
</div>
<div class="details">
</div>
